/* Portfolio card overlay */

/* «C5» Синий оверлей с текстом на карточках страницы Портфолио появляется при ховере в любом месте карточки.

«C6» Синий оверлей в карточках страницы Портфолио выезжает снизу, как показано на видео. */

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__position {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);

  .gallery__link:hover &,
  .gallery__link:focus & {
    transform: translateY(0);
  }
}
