.works {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
/* «C3» В секции Чем мы занимаемся текст с фоном спозиционирован поверх изображения. */

.works__item {
  margin-right: 30px;
  position: relative;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.works__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  padding: 27px 82px;

  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
