h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
}
