:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --hero-footer-background: #2f303a;
  --main-titles-color: #212121;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
